//variables
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$colorPrimaire: #9356dc;
$colorSecondaire: #99e2d0;
$colorTertiaire: #008766;
$colorBackground: #f6f6f6;
$colorBackground2: #eaeaea;
$colorA:lighten($color: $colorPrimaire, $amount: 3%);
$colorB:lighten($color: #e370db, $amount: 3%);
$colorGradien:linear-gradient(0deg, $colorPrimaire, #e370db);
$colorGradien2:linear-gradient(0deg, $colorA, $colorB);
$colorFooter: #353535;
$fontPrimaire: 'Roboco', sans-serif;
$fontSecondaire: 'Shrikhand', cursive;
