// Imports

@import 'variables';
@import 'components/components';
@import 'mixins';

@import 'body';
@import 'header';
@import 'footer';

/* generals class */

.iconColor1 {
    color: darken($colorBackground2, 35%);
}

.iconColor2 {
    color: $colorPrimaire;
}

.iconDegrad {
    color: linear-gradient(0deg, $colorPrimaire, #e370db);
}


/* main */

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  @keyframes goOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
  }
  .spin {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: white;
    z-index: 10;
    animation: 2s forwards 3s 1 goOut;
  }
  .spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: $colorPrimaire;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }

@import 'main';

section {
    padding-top: 30px;
    padding-bottom: 50px;
}

.location {
    @include flexRow();
    @include justCenter();
    @include itemCenter();
    font-weight: bold;
    background-color: $colorBackground2;

    i {
        margin-right: 15px;
        margin-left: 90px;
    }

    input {
        max-width: 190px;
        border: none;
        background-color: $colorBackground2;
        margin: 15px 0px 15px 0px;
        font-size: 0.95em;
        font-weight: bold;
        outline: none;
    }
}

.instructions {
    background-color: $colorBackground;
    @include flexCol();
    @include justCenter();
    @include itemCenter();
    @include itemCenter();
    @include smallPadding(15px);

    h1 {
        width: 75%;
        font-size: 1.3em;
        text-align: center;
    }

    >p {
        text-align: center;
        margin-top: 0%;
    }

    a {
        @include flexCol();
        @include justCenter();
        @include shadow(0.15);
        height: 50px;
        @include roundAngles(25px);
        background: linear-gradient(0deg, $colorPrimaire, #e370db);
        width: 218px;
        color: white;
        font-size: 0.9em;
        align-items: center;

        p {
            margin: 0%;
        }
    }
}

.fonction {
    @include smallPadding(15px);

    .fonction__box {
        @include flexCol();
        padding-left: 13px;
    }

    .fonction__btn {
        @include roundAngles(20px);
        margin-bottom: 20px;
        background-color: $colorBackground;
        height: 72px;
        @include flexRow();
        @include shadow(0.15);
        justify-content: flex-start;
        align-items: center;
        
        &:hover {
            @include shadow(0.5);
            background-color: lighten($color: $colorBackground, $amount: 2%);

            i {
                color: $colorPrimaire;
            }
        }

        span {
            background-color: $colorPrimaire;
            color: white;
            @include roundAngles(50%);
            width: 24px;
            height: 24px;
            @include centerCenter();
            position: relative;
            right: 10px;
            font-size: 0.7em
        }

        i {
            @include leftMargin();
        }

        p {
            @include leftMargin();
            font-weight: bold;
            font-size: 0.8em;
        }
    }
}

/* restaurants */
.nouveau {
    @include flexCol();
    @include justCenter();
    @include itemCenter();
    margin-top: 12px;
    position: absolute;
    right: 35px;
    background-color: $colorSecondaire;
    @include roundAngles(5px);
    color: $colorTertiaire;
    width: 80px;
    height: 30px;

    p {
        @include flexCol();
        @include justCenter();
        @include itemCenter();
        margin: 0%;
        font-size: 0.8em
    }
}

.restaurants {
    @include smallPadding(15px);
    background-color: $colorBackground;
    @include flexCol();
    @include itemCenter();

    h1 {
        align-self: flex-start;
        margin-bottom: 0%;
    }
}

.card {
    @include flexCol();
    // @include justCenter();
    width: 95%;

    .card__image {
        height: 180px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card__content {
        @include flexRow();
        @include itemCenter();
        background-color: white;
        justify-content: space-between;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        @include smallPadding(15px);

        >a {
            width: 185px;
        }

        p {
            margin-top: 0%;
        }
    }

    .card__title {
        font-size: 1.3em;
        margin-bottom: 0%;
    }

    svg {
        font-size: 1.5em;
    }

    .heart1 {
        position: absolute;
        right: 40px;
    }

    .heart2 {
        position: absolute;
        right: 40px;
        z-index: 2;
        fill: url(#MyGradient);
        opacity: 0;
        transition: opacity 500ms;

        &:hover {
            opacity: 1;
        }
    }

}