// Imports

@import 'variables';
@import 'components/components';
@import 'mixins';

@import 'body';
@import 'header';
@import 'footer';

/* Main */
@import 'main';

.blank {
    height: 170px;
}

.restaurant__image {
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 60px;
    z-index: -1;
}

section {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: $colorBackground;
    @include smallPadding(20px);
    padding-bottom: 40px;

    >div {
        width: 100%;
        @include flexRow();
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        width: 80%;
        font-size: 1.5em;
        font-family: $fontSecondaire;
        font-weight: lighter;
    }

    svg {
        font-size: 1.5em;
    }

    .commander {
        @include flexCol();
        @include justCenter();

        >h4 {
            @include card(35px);
            padding: 20px 50px 20px 50px;
            margin: 0%;
            color: white;
            background: linear-gradient(0deg, $colorPrimaire, #e370db);
        }
    }
}

.heart1 {
    position: absolute;
    top: 270px;
    right: 20px;
}

.heart2 {
    position: absolute;
    top: 270px;
    right: 20px;
    z-index: 10;
    fill: url(#MyGradient);
    opacity: 0;
    transition: opacity 500ms;

    &:hover {
        opacity: 1;
    }
}

@keyframes slideInFromLeft1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft2 {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft3 {
    0% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.entrees {
    animation: 2s ease-out 0s 1 slideInFromLeft1;
}

.plats {
    animation: 4s ease-out 0s 1 slideInFromLeft2;
}

.desserts {
    animation: 6s ease-out 0s 1 slideInFromLeft3;
}

.menus {
    margin-bottom: 40px;

    h2 {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: unset;
        margin-bottom: 5px;
    }

    .menuLine {
        width: 40px;
        height: 3px;
        padding: 0%;
        background-color: $colorSecondaire;
    }

    >div {
        background-color: white;
        @include card(15px);
        padding: 0px;
        margin-bottom: 15px;
        @include flexRow();
        justify-content: space-between;
        width: 100%;
    }

    .menu__int {
        width: 90%;
        padding: 10px;
        transition: width 700ms;

        h3 {
            font-size: 1em;
            margin: 0px 0px 10px 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            width: 80%;
        }

        &:hover+.check {
            width: 10%
        }

        &:hover+.check i {
            opacity: 1;
        }
    }

    .menu__detail {
        @include flexRow();
        justify-content: space-between;
        width: 100%;

        >p {
            height: 16px;
            margin: 0px;
            font-size: 0.9em;
        }

        .flavor {
            width: 80%;
            font-weight: lighter;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

        }

        .price {
            font-weight: bold;
            width: 27px;
        }
    }

    .check {
        background-color: $colorSecondaire;
        width: 0%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        @include flexRow();
        @include justCenter();
        @include itemCenter();
        transition: width 700ms;

        i {
            color: white;
            opacity: 0;
            transition: opacity 700ms;
        }
    }
}