
// footer 
footer {
    padding-top: 25px;
    @include flexCol();
    @include smallPadding(15px);
    background-color: $colorFooter;
    align-items: flex-start;

    .footer__logo {
        height: 17px;
        margin-bottom: 20px;

        path{            
        fill: white;
        }
    }

    i {
        color: white;
        margin-right: 10px;
    }

    a,
    img {
        margin-bottom: 16px;
        color: white;
    }
}