@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  width: 100%;
  margin: 0%;
  font-family: "Roboco", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}
body a {
  color: black;
  text-decoration: none;
}
body .uppercase {
  text-transform: uppercase;
}
body .btn_hover:hover {
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
  background: linear-gradient(0deg, #9b63df, #e67dde);
  cursor: pointer;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header i {
  font-size: 1.5em;
  position: absolute;
  left: 20px;
}
header .logo {
  width: 10em;
}

footer {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #353535;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
footer .footer__logo {
  height: 17px;
  margin-bottom: 20px;
}
footer .footer__logo path {
  fill: white;
}
@media screen and (min-width: 768px) {
  footer .footer__logo {
    order: 10;
    margin-left: 100px;
    margin-right: 20px;
  }
}
footer i {
  color: white;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  footer a {
    margin-left: 20px;
    font-size: 0.8em;
  }
}
footer a,
footer img {
  margin-bottom: 16px;
  color: white;
}
@media screen and (min-width: 768px) {
  footer a,
  footer img {
    margin-bottom: 20px;
  }
}

main {
  width: 100%;
}

/* generals class */
.iconColor {
  color: #919191;
}

/* main */
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
@keyframes sortie {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.spin {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: white;
  z-index: 10;
  animation: 2s forwards 3s 1 sortie;
}

.spinner::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #9356dc;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

section {
  padding-top: 30px;
  padding-bottom: 50px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #eaeaea;
}
@media screen and (min-width: 768px) {
  .location {
    width: 100%;
  }
}
.location i {
  margin-right: 15px;
  margin-left: 90px;
}
.location input {
  max-width: 190px;
  border: none;
  background-color: #eaeaea;
  margin: 15px 0px 15px 0px;
  font-size: 0.95em;
  font-weight: bold;
  outline: none;
}

.instructions {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .instructions {
    width: 100%;
    padding: 0% 0% 50px 0%;
  }
}
.instructions h1 {
  width: 75%;
  font-size: 1.3em;
  text-align: center;
}
.instructions > p {
  text-align: center;
  margin-top: 0%;
}
.instructions a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.15));
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc, #e370db);
  width: 218px;
  color: white;
  font-size: 0.9em;
  align-items: center;
}
.instructions a p {
  margin: 0%;
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.fonction {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1024px) {
  .fonction {
    width: 870px;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    padding-right: 0%;
  }
}
.fonction .fonction__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .fonction .fonction__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.fonction .fonction__btn {
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  height: 72px;
  width: 280px;
  margin-left: 13px;
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.15));
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .fonction .fonction__btn {
    max-width: 300px;
    margin-right: 20px;
  }
}
.fonction .fonction__btn:hover {
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
}
.fonction .fonction__btn:hover i {
  color: #9356dc;
}
.fonction .fonction__btn span {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10px;
  font-size: 0.7em;
}
.fonction .fonction__btn i {
  margin-left: 15px;
}
.fonction .fonction__btn p {
  margin-left: 15px;
  font-weight: bold;
  font-size: 0.8em;
}

/* restaurants */
.nouveau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  position: absolute;
  right: 35px;
  background-color: #99e2d0;
  border-radius: 5px;
  color: #008766;
  width: 80px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .nouveau {
    position: relative;
    left: 315px;
    top: 45px;
  }
}
.nouveau p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  font-size: 0.8em;
}

.noNouveau {
  height: 0%;
}
@media screen and (min-width: 768px) {
  .noNouveau {
    height: 30px;
  }
}

.restaurants {
  width: 100%;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.restaurants h1 {
  align-self: flex-start;
  margin: 0% 0% 10px 15px;
}
@media screen and (min-width: 768px) {
  .restaurants h1 {
    width: 410px;
    align-self: auto;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants h1 {
    width: 870px;
  }
}

.restaurants__int {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .restaurants__int {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0%;
  }
}
@media screen and (min-width: 1440px) {
  .restaurants__int {
    width: 1082px;
  }
}

@media screen and (min-width: 1024px) {
  .card2 {
    margin-left: 50px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 410px;
    margin-top: 0%;
  }
}
.card .card__image {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card .card__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.card .card__content > a {
  width: 185px;
}
.card .card__content p {
  margin-top: 0%;
}
.card .card__title {
  font-size: 1.3em;
  margin-bottom: 0%;
}
.card svg {
  font-size: 1.5em;
}
.card .heart1 {
  position: absolute;
  right: 40px;
}
@media screen and (min-width: 768px) {
  .card .heart1 {
    right: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .card .heart1 {
    position: relative;
    left: 85px;
  }
}
.card .heart2 {
  position: absolute;
  right: 40px;
  z-index: 2;
  fill: url(#MyGradient);
  opacity: 0;
  transition: opacity 500ms;
}
@media screen and (min-width: 768px) {
  .card .heart2 {
    right: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .card .heart2 {
    position: relative;
    right: 12px;
  }
}
.card .heart2:hover {
  opacity: 1;
}