@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  width: 100%;
  margin: 0%;
  font-family: "Roboco", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}
body a {
  color: black;
  text-decoration: none;
}
body .uppercase {
  text-transform: uppercase;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header i {
  font-size: 1.5em;
  position: absolute;
  left: 20px;
}
header .logo {
  width: 10em;
}

footer {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #353535;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
footer .footer__logo {
  height: 17px;
  margin-bottom: 20px;
}
footer .footer__logo path {
  fill: white;
}
@media screen and (min-width: 768px) {
  footer .footer__logo {
    order: 10;
    margin-left: 100px;
    margin-right: 20px;
  }
}
footer i {
  color: white;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  footer a {
    margin-left: 20px;
    font-size: 0.8em;
  }
}
footer a,
footer img {
  margin-bottom: 16px;
  color: white;
}
@media screen and (min-width: 768px) {
  footer a,
  footer img {
    margin-bottom: 20px;
  }
}

main {
  width: 100%;
}

/* Main */
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.blank {
  height: 170px;
}

.restaurant__image {
  height: 210px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 60px;
  z-index: -1;
}

section {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  section {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
section > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  section > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
section h1 {
  width: 80%;
  font-size: 1.5em;
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  section h1 {
    width: auto;
    text-align: center;
  }
}
section svg {
  font-size: 1.5em;
}
section .commander {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .commander > h4 {
  border-radius: 35px;
  border-width: 0px;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.15));
  padding: 20px 50px 20px 50px;
  margin: 0%;
  color: white;
  background: linear-gradient(0deg, #9356dc, #e370db);
}

.heart1 {
  position: absolute;
  top: 270px;
  right: 20px;
}
@media screen and (min-width: 768px) {
  .heart1 {
    position: static;
    margin-left: 20px;
  }
}

.heart2 {
  position: absolute;
  top: 270px;
  right: 20px;
  z-index: 10;
  fill: url(#MyGradient);
  opacity: 0;
  transition: opacity 500ms;
}
@media screen and (min-width: 768px) {
  .heart2 {
    position: relative;
    top: 0%;
    right: 24px;
  }
}
.heart2:hover {
  opacity: 1;
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entrees {
  animation: 3s ease-out 0s 1 fadeIn1;
}

.plats {
  animation: 6s ease-out 0s 1 fadeIn2;
}

.desserts {
  animation: 8s ease-out 0s 1 fadeIn3;
}

.menus {
  margin-bottom: 40px;
  width: 280px;
}
@media screen and (min-width: 375px) {
  .menus {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menus {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .menus {
    width: 575px;
  }
}
.menus h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: unset;
  margin-bottom: 5px;
}
.menus .menuLine {
  width: 40px;
  height: 3px;
  padding: 0%;
  background-color: #99e2d0;
}
.menus > div {
  background-color: white;
  border-radius: 15px;
  border-width: 0px;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.15));
  padding: 0px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menus .menu__int {
  width: 260px;
  padding: 10px;
  transition: width 700ms;
}
@media screen and (min-width: 375px) {
  .menus .menu__int {
    width: 100%;
  }
}
.menus .menu__int h3 {
  font-size: 1em;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menuCheck:hover .menu__int {
  width: 218px;
}
@media screen and (min-width: 375px) {
  .menus .menuCheck:hover .menu__int {
    width: 80%;
  }
}
.menus .menuCheck:hover .menu__int + .check {
  width: 42px;
}
@media screen and (min-width: 375px) {
  .menus .menuCheck:hover .menu__int + .check {
    width: 20%;
  }
}
.menus .menuCheck:hover .menu__int + .check i {
  opacity: 1;
}
.menus .menu__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menus .menu__detail > p {
  height: 16px;
  margin: 0px;
  font-size: 0.9em;
}
.menus .menu__detail .flavor {
  width: 80%;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menu__detail .price {
  font-weight: bold;
  width: 27px;
}
.menus .check {
  background-color: #99e2d0;
  width: 0%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: width 700ms;
}
.menus .check i {
  color: white;
  opacity: 0;
  transition: opacity 700ms;
}