/* variables */
/* mixins */
/* generals class */
.hundredPercent {
  width: 100%;
}

.logo {
  width: 50%;
}

.whiteText {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.itemCenter {
  align-items: center;
}

.row {
  flex-direction: row;
}

.shadow {
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.15));
}

.roundAngles {
  border-radius: 20px;
}

.iconColor1 {
  color: #919191;
}

.iconColor2 {
  color: #9356dc;
}

.iconDegrad {
  color: linear-gradient(0deg, #9356dc, #e370db);
}

/* body */
body {
  margin: 0%;
  font-family: "Roboco", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

a {
  color: black;
  text-decoration: none;
}

/* header */
header {
  display: flex;
  padding: 10px;
}

/* main */
section {
  padding-top: 30px;
  padding-bottom: 50px;
}

.location {
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  background-color: #eaeaea;
}
.location i {
  margin-right: 15px;
}

.instructions {
  background-color: #f6f6f6;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.instructions h1 {
  width: 75%;
  font-size: 1.3em;
  text-align: center;
}
.instructions > p {
  text-align: center;
  margin-top: 0%;
}
.instructions a {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc, #e370db);
  width: 218px;
  color: white;
  font-size: 0.9em;
  align-items: center;
}
.instructions a p {
  margin: 0%;
}

.fonction {
  padding-left: 15px;
  padding-right: 15px;
}
.fonction .fonction__box {
  padding-left: 13px;
}
.fonction .fonction__btn {
  margin-bottom: 20px;
  background-color: #f6f6f6;
  height: 72px;
  justify-content: flex-start;
  align-items: center;
}
.fonction .fonction__btn span {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10px;
  font-size: 0.7em;
}
.fonction .fonction__btn i {
  margin-left: 15px;
}
.fonction .fonction__btn p {
  margin-left: 15px;
  font-weight: bold;
  font-size: 0.8em;
}

/* restaurants */
.nouveau {
  position: relative;
  top: 40px;
  left: 200px;
  background-color: #99e2d0;
  border-radius: 5px;
  color: #008766;
  width: 80px;
  height: 30px;
}
.nouveau p {
  margin: 0%;
  font-size: 0.8em;
}

.restaurants {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f6f6f6;
  align-items: center;
}
.restaurants h1 {
  align-self: flex-start;
  margin-bottom: 0%;
}

.card {
  width: 290px;
}
.card .card__image {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card .card__content {
  background-color: white;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.card .card__content p {
  margin-top: 0%;
}
.card .card__title {
  font-size: 1.3em;
  margin-bottom: 0%;
}
.card i {
  font-size: 1.5em;
}

/* footer */
footer {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #353535;
}
footer .footer__logo {
  height: 17px;
  -o-object-fit: contain;
     object-fit: contain;
  align-self: flex-start;
}
footer i {
  color: white;
  margin-right: 10px;
}
footer a,
footer img {
  margin-bottom: 16px;
  color: white;
}/*# sourceMappingURL=styles.css.map */